 

table {
	border-collapse:collapse;
	margin-top:30px;
	width:100%;
	height:100%;
	}
	table img{
	padding-right:4px;
	}
	
	caption {
		text-align:left;
		font-size:15px;
		padding-bottom:10px;
		}
	
	table td,
	table th {
		padding:5px;
		border:1px solid #fff;
		border-width:0 1px 1px 0;
		}
		
	thead th {
		background:#91c5d4;
		}
			
		thead th[colspan],
		thead th[rowspan] {
			background:#66a9bd;
			}
		
	tbody th,
	tfoot th {
		text-align:left;
		background:#91c5d4;
		}
		
	tbody td,
	tfoot td {
		text-align:center;
		background:#d5eaf0;
		}
		
	tfoot th {
		background:#b0cc7f;
		}
		
	tfoot td {
		background:#d7e1c5;
		font-weight:bold;
		}
			
 	.subtitulo {
		background:#b0cc7f;
		}

	.subBalance tbody tr:hover td{
		background: #bcd9e1;
		}

 thead {
color: #bcd9e1;
	}